# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Keep folders
!data/processed/.gitkeep
!models/.gitkeep